pkgbase = gnome-terminal-linuxmint
	pkgdesc = The GNOME Terminal Emulator
	pkgver = 3.52.0
	pkgrel = 2
	url = https://wiki.gnome.org/Apps/Terminal
	arch = x86_64
	license = GPL-3.0-or-later
	license = CC-BY-SA-3.0
	license = GPL-3.0-only
	license = GFDL-1.3-only
	makedepends = docbook-xsl
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = yelp-tools
	makedepends = libnautilus-extension
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gsettings-desktop-schemas
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libhandy
	depends = libx11
	depends = pango
	depends = util-linux-libs
	depends = vte3
	optdepends = libnautilus-extension: Nautilus integration
	provides = gnome-terminal
	conflicts = gnome-terminal
	source = http://packages.linuxmint.com/pool/upstream/g/gnome-terminal/gnome-terminal_3.52.0+mint2+xia.tar.xz
	b2sums = 80c2ca7d097742b710a3a76f2f4e4bebc67645a581d8a95d43d521cc4c36af839053ae0cfc2c7019fc1ba7b5b31c0ea1f58a4a867574a1863e127c8e9ce9a5b6

pkgname = gnome-terminal-linuxmint
